*.pyc
.ipynb_checkpoints/Plot-to-Video (not finished)-checkpoint.ipynb
.ipynb_checkpoints/entire solar system simulation (runs)-checkpoint.ipynb
.ipynb_checkpoints/planet-planet-collision-simulation (not finished)-checkpoint.ipynb